.app {
    width: 90%;
    margin: 0px auto;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 60vh;
}

.loginBaseFormatLength {
    width: 400px;
}

#loginTitle {
    font-size: 30px;
}